<md-toolbar color="primary">
  <button type="button" md-button (click)="sidenav.toggle()">
    <md-icon color="accent">reorder</md-icon>
  </button>
  <div class="container">
    <span>Samuel Severance</span>
  </div>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="push">
    <md-list dense (click)="sidenav.toggle()">
      <a md-list-item routerLink="element-stacking">Element Stacking</a>
      <a md-list-item routerLink="line-height">Line Height</a>
    </md-list>
  </md-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

