<mat-toolbar color="primary">
  <button type="button" mat-button (click)="sidenav.toggle()">
    <mat-icon color="accent">reorder</mat-icon>
  </button>
  <div class="container">
    <span>Samuel Severance</span>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list dense (click)="sidenav.toggle()">
      <a
        *ngFor="let link of links"
        [routerLink]="link.href"
        class="nav-link"
        routerLinkActive="active"
        mat-list-item>
          {{ link.textContent }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

