@import 'variables'

ul
  padding 0
  list-style-type none
  margin 1em 0
  max-width 600px

li
  float left
  margin 0 0 1em 0

.node
  height 2em
  width 2em
  border 1px solid black
  border-radius 100%
  margin 0 auto
  display flex
  justify-content center
  align-items center
  font-size 16px

.inverted
  box-shadow 0 0 1em $ss-mat-accent;
