.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-container button {
  margin: 0.5em 0;
}

.slick-btn {
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 22px;
  font-weight: 300;
  padding: 0.25em 0;
  position: relative;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  width: 200px;
}

.slick-btn:hover {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.slick-btn:focus {
  outline: none;
}

.slick-btn:active {
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  top: 1px;
}

.btn-one {
  background-color: rgba(255, 0, 255, 0.85);
}
.btn-two {
  background-color: rgba(255, 165, 0, 0.85);
}
.btn-three {
  background-color: rgba(0, 255, 0, 0.85);
}
