/* You can add global styles to this file, and also import other style files */
@import "~normalize-css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~highlight.js/styles/github-gist.css";

*,
*::after,
*::before
  box-sizing: border-box

body
  background-color #fafafa
  font-family Roboto, Arial, Helvetica, sans-serif
  line-height 1.5

.dom-container
  border 1px solid rgba(0, 0, 0, 0.50)
  min-height 100px
  overflow scroll

.col-to-row
  display flex
  flex-direction column
  flex-wrap wrap

@media screen and (min-width: 600px)
  .col-to-row
    align-items stretch
    flex-direction row

.title
  margin-right 0.5em

.mt-1
  margin-top 1rem
.mb-1
  margin-bottom 1rem
.ml-1
  margin-left 1rem
.mr-1
  margin-right 1rem
