.container
  background-color rgba(0, 0, 0, 0.7)
  border-radius 10px
  display inline-flex
  flex-direction row
  margin-top 1rem
  padding 1rem

  @media screen and (max-width: 400px)
    align-items center
    display flex
    flex-direction column
    line-height 1

.miami
  color white
  font-size 96px
  text-shadow 3px 0 4px orange, 0 3px 4px magenta, -3px 0 4px lime, 0 -3px 4px magenta
